[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = 19857625778
	email = 1171413684@qq.com
[init]
	defaultBranch = master
